.clients-list {
    height: calc(100vh - 68px);
    overflow-y: scroll;
}

.clients-list-mobile {
    height: calc(100vh - 68px - 300px);
    overflow-y: scroll;
}

.clients-list::-webkit-scrollbar {
    width: 2px;
    border-radius: 0;
}

.clients-list::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .0);
}

.clients-list::-webkit-scrollbar-thumb {
    border-radius: 0;
}

